body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100vh;
  margin: 0;
}

header {
  margin-top: 20px;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#videoPlayer {
  margin: 20px 0;
}
